body{
    background-color: #1b1717;
}
/*#EEEBDD
#CE1212*/

.canvasContainer{
    width: 720px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background-color:rgb(214, 85, 85); /*#810000;*/
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #4e1c1c;
}

.canvasBack{
    width: 510px;
    height: 510px;
    margin-left: 23%;
    margin-top: 45px;
    background-color: #1b1717;
}

.canvas{
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 5px;
}

.sliderContainer{
    position: relative;
    left: -70px;
    bottom: 275px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height:  20px;
    opacity: .9;
    transition: opacity .2;
    background-color: #4e1c1c;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    border-radius: 5px;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #EEEBDD;
}

.canvasPanel{
    background-color: rgb(160, 160, 160);
}

.resetButton{
    background-color: #EEEBDD;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    position: relative;
    left: 20px;
    bottom: 500px;
    transition:  .1s;
    transition-timing-function: ease-in;
}

.resetButton:hover{
    transform: scale(1.06);
}